:root {
    --color-bg: black;
    --color-text: white;
    --color-frame: white;
    --color-card: #111f36;
    --color-active: #c96040;
    --color-inactive: #4b8739;
    --color-hover-primary: #f5a97f;
    --color-hover-secondary: #ed8796;
    --color-jump-shadow: rgba(255, 255, 255, 0.8);
    --color-dark-blue: #363a4f;
    --color-glow: pink;

    /* Catppuccin Machiato */
    --cat-rosewater: #f4dbd6;
    --cat-flamingo: #f0c6c6;
    --cat-pink: #f5bde6;
    --cat-mauve: #c6a0f6;
    --cat-red: #ed8796;
    --cat-maroon: #ee99a0;
    --cat-peach: #f5a97f;
    --cat-yellow: #eed49f;
    --cat-green: #a6da95;
    --cat-teal: #8bd5ca;
    --cat-sky: #91d7e3;
    --cat-sapphire: #7dc4e4;
    --cat-blue: #8aadf4;
    --cat-lavender: #b7bdf8;

    --cat-text: #cad3f5;
    --cat-subtext1: #b8c0e0;
    --cat-subtext0: #a5adcb;
    --cat-overlay2: #939ab7;
    --cat-overlay1: #8087a2;
    --cat-overlay0: #6e738d;

    --cat-surface2: #5b6078;
    --cat-surface1: #494d64;
    --cat-surface0: #363a4f;

    --cat-base: #24273a;
    --cat-mantle: #1e2030;
    --cat-crust: #181926;
}
