[package]
name = "lince"
version = "0.6.1"
edition = "2024"
description = "Tool for registry, interconnection and automation of Needs and Contributions with open scope"
license = "GPL-3.0-or-later"
keywords = ["todo"]
include = ["/src"]

[features]
default = ["karma", "gpui"]
karma = []
gpui = ["dep:gpui"]

[dependencies]
async-trait = "0.1.89"
asynk-strim = { version = "0.1" }
axum = "0.8.6"
chrono = "0.4.42"
datastar = { version = "0.3.1", features = ["axum"] }
dirs = "6.0.0"
futures = "0.3.31"
gpui = { version="0.2.2", optional = true }
gpui-component = "0.5.0"
gpui-component-assets = "0.5.0"
maud = "0.27.0"
regex = "1.12.2"
rhai = "1.23.4"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
sqlx = { version = "0.8.6", features = ["runtime-tokio", "sqlite"] }
tokio = { version = "1.48.0", features = ["rt-multi-thread", "process"] }
tower = "0.5.2"
tracing-subscriber = "0.3.20"

[profile]

[profile.wasm-dev]
inherits = "dev"
opt-level = 1

[profile.server-dev]
inherits = "dev"

[profile.android-dev]
inherits = "dev"
