[workspace]
resolver = "3"
members = [
    "crates/*",
]

default-members = ["crates/lince"]

[workspace.dependencies]
application = { path = "crates/application" }
domain = { path = "crates/domain" }
injection = {path = "crates/injection" }
lince = {path = "crates/lince" }
persistence = {path = "crates/persistence" }
presentation = {path = "crates/presentation" }
utils = { path = "crates/utils" }

async-trait = "0.1.89"
chrono = "0.4.42"
dirs = "6.0.0"
futures = "0.3.31"
gpui = { version="0.2.2", optional = true }
gpui-component = {version = "0.5.0", optional = true}
gpui-component-assets = {version = "0.5.0", optional = true}
regex = "1.12.2"
rhai = "1.23.6"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
sqlx = { version = "0.8.6", features = ["runtime-tokio", "sqlite"] }
tokio = { version = "1.49.0", features = ["rt-multi-thread", "process"] }
