<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <application android:label="@string/lince_app_name" android:hasCode="true" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:fullBackupContent="false"
        android:icon="@mipmap/lince" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name="social.lince.mobile.RestartActivity" android:exported="false"
            android:process=":profile_restart" android:taskAffinity="${applicationId}.profile_restart"
            android:excludeFromRecents="true" android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="social.lince.mobile.MainActivity" android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.lib_name" android:value="lince_mobile" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
