<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lince Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <form action="/" method="post">
    <label for="operation_of_choice">Enter an operation:</label>
    <input type="text" id="operation_of_choice" name="operation_of_choice" required>
    <button type="submit" hidden>Submit</button>
  </form>
  <div class='tables-container'>
    <div class='table-container'>
      <!-- Wrap the table in a single form for proper submission -->
      <form action="{{ url_for('edit_table') }}" method="post">
        <!-- Hidden input to include the table name -->
        <input type="hidden" name="table_name" value="{{ table_name }}">

        <table border="1">
          <thead>
            <tr>
              {% if table_data and table_data[0] %}
              {% for column in table_data[0].keys() %}
              <th>{{ column }}</th>
              {% endfor %}
              {% else %}
              <th>No data available</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for row in table_data %}
            <tr>
              {% for column, value in row.items() %}
              <td>
                <input type="text" name="{{ column }}_{{ row['id'] }}" value="{{ value }}" class="table-input">
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit" hidden>Submit Changes</button>
      </form>
    </div>

    <div class="option-container">
      <h3>Options</h3>
      {{ options_table | safe }}
    </div>
  </div>

  <p>{{ current_date }}</p>

</body>

</html>