* {
  padding: 3px 3px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, hsl(0, 100%, 75%), #ffffff);
  font-family: 'Arial', sans-serif;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.sidebar {
  width: 400px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: 100vh;
  transition: transform 0.3s ease, width 0.3s ease;
  transform: translateX(0);
}

.sidebar.hidden {
  transform: translateX(-100%);
  width: 0;
}

.tables-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.table-container {
  flex: 1 1 auto;
  min-width: 0;
}

table {
  border-radius: 10px;
  width: 100%;
  table-layout: auto;
  background-color: #ffffff;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  white-space: normal;
}

th {
  border: 1px solid #000000;
  text-align: center;
}

table tr:first-child th,
table tr:first-child td {
  border-top: none;
}

table tr:last-child td {
  border-bottom: none;
}

table td:first-child,
table th:first-child {
  border-left: none;
}

table td:last-child,
table th:last-child {
  border-right: none;
}

.tables-container input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

.option-container td,
th {
  padding: 5px;
  background-color: #ffffff;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

.sidebar-button {
  height: 30px;
  width: 35px;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #000000;
  transition: transform 0.25s ease;
}

.sidebar-button .fa {
  transition: transform 0.25s ease;
}

.sidebar-button.rotate .fa {
  transform: rotate(-180deg);
}